import /init.qcom.usb.rc
import /init.qcom.bluetooth.rc

###################
## 1: EARLY-INIT ##
###################
on early-init

    mount debugfs /sys/kernel/debug /sys/kernel/debug

    # create dirs
    mkdir /sd-ext 0771 system system

#############
## 2: INIT ##
#############
on init
    # See storage config details at http://source.android.com/tech/storage/
    mkdir /mnt/media_rw/sdcard0 0700 media_rw media_rw
    mkdir /storage/sdcard0 0700 root root
    symlink /storage/sdcard0 /mnt/sdcard
    symlink /storage/sdcard0 /sdcard
    export EXTERNAL_STORAGE /storage/sdcard0
    export SD_EXT_DIRECTORY /sd-ext
    export DOWNLOAD_CACHE /cache/download

    # Add permissions for camera access
    chmod 0666 /dev/msm_camera/config0
    chmod 0666 /dev/msm_camera/control0
    chmod 0666 /dev/msm_camera/frame0
    chmod 0666 /dev/msm_camera/pic0


#################
## 3: EARLY-FS ##
#################
## on early-fs


################
## 4: EMMC-FS ##
################
## on emmc-fs


###########
## 5: FS ##
###########
on fs

    # framebuffer permission for copybit
    chmod 0666 /dev/graphics/fb0

    # Mount /system rw first to give the filesystem a chance to save a checkpoint
    mount yaffs2 mtd@system /system
    mount yaffs2 mtd@system /system ro remount
    mount yaffs2 mtd@userdata /data nosuid nodev
    mount yaffs2 mtd@cache /cache nosuid nodev

################
## 6: POST-FS ##
################
on post-fs

    # nv
    mkdir /data/nv
    chown system system /data/nv
    chmod 0711 /data/nv

    mkdir /data/local/download 0771 system cache
    mkdir /cache/download 0771 system cache

    # wifi
    chmod 0777 /data/misc/wifi/config_mac
    mkdir /data/audioprop 0777 system system
    mkdir /data/misc/wifi/sockets 0770 wifi wifi
    setprop wifi.supplicant_scan_interval 20
    setprop wifi.interface wlan0
    mkdir /data/misc/dhcp 0777 system system


#####################
## 7: POST-FS-DATA ##
#####################
on post-fs-data
    # Create the directories used by the Wireless subsystem
    mkdir /data/misc/wifi 0770 wifi wifi
    mkdir /data/misc/wifi/sockets 0770 wifi wifi
    mkdir /data/misc/wifi/wpa_supplicant 0770 wifi wifi
    mkdir /data/misc/dhcp 0770 dhcp dhcp
    chown dhcp dhcp /data/misc/dhcp

    # Create directory used by audio subsystem
    mkdir /data/misc/audio 0770 audio audio

    # Mounting of persist is moved to 'on emmc-fs' and 'on fs' sections
    # We chown/chmod /persist again so because mount is run as root + defaults
    chown system system /persist
    chmod 0771 /persist

    #Create the symlink to qcn wpa_supplicant folder for ar6000 wpa_supplicant
    mkdir /data/system 0775 system system
    #symlink /data/misc/wifi/wpa_supplicant /data/system/wpa_supplicant

    #Create directories for wiper services
    mkdir /data/wpstiles/ 0755 shell
    mkdir /data/wiper 0755 gps qcom_oncrpc

    #Create directories for Location services
    mkdir /data/misc/location 0770 gps gps
    mkdir /data/misc/location/mq 0770 gps gps
    mkdir /data/misc/location/xtwifi 0770 gps gps

    #Create directory from IMS services
    mkdir /data/shared 0755
    chown system system /data/shared

    #Create directory for FOTA
    mkdir /data/fota 0771
    chown system system /data/fota

    #Create directory for hostapd
    mkdir /data/hostapd 0770 system wifi

    # Create /data/time folder for time-services
    mkdir /data/time/ 0700 system system

    mkdir /data/audio/ 0770 media audio
    # Enable the setgid bit on the directory
    chmod 2770 /data/audio

    # last line for post-fs-data
    setprop vold.post_fs_data_done 1


###################
## 8: EARLY-BOOT ##
###################
on early-boot
    # set RLIMIT_MEMLOCK to 64MB
    setrlimit 8 67108864 67108864



#############
## 9: BOOT ##
#############
on boot

    # allow reading kernel command line
    chmod 0644 /proc/cmdline

    # radio
    mkdir /data/radio 0770 radio radio
    chmod 2770 /data/radio

    # liblights
    chown system system /sys/class/leds/green/brightness
    chown system system /sys/class/leds/green/blink
    chown system system /sys/class/leds/amber/brightness
    chown system system /sys/class/leds/amber/blink
    chown system system /sys/class/leds/button-backlight/brightness
    chown system system /sys/class/leds/flashlight/brightness
    chown system system /sys/class/leds/lcd-backlight/brightness
    chown system system /sys/class/leds/keyboard-backlight/brightness

    # wifi
    mkdir /data/misc 01771 system misc
    mkdir /data/misc/wifi 0770 system wifi
    mkdir /data/misc/wifi/sockets 0770 wifi wifi
    chmod 0770 /data/misc/wifi/sockets
    mkdir /data/misc/dhcp 0770 dhcp dhcp
    chown dhcp dhcp /data/misc/dhcp
    mkdir /data/system 0775 system system

    # Fast dormancy
    setprop ro.ril.fast.dormancy.rule 1
    setprop ro.ril.fd.scron.timeout 4
    setprop ro.ril.fd.scroff.timeout 3

    # Wakelock debug
    write /sys/module/wakelock/parameters/debug_mask 7

    #Create QMUX deamon socket area
    mkdir /dev/socket/qmux_radio 0770 radio radio
    chmod 2770 /dev/socket/qmux_radio
    mkdir /dev/socket/qmux_audio 0770 media audio
    chmod 2770 /dev/socket/qmux_audio
    mkdir /dev/socket/qmux_bluetooth 0770 bluetooth bluetooth
    chmod 2770 /dev/socket/qmux_bluetooth
    mkdir /dev/socket/qmux_gps 0770 gps gps
    chmod 2770 /dev/socket/qmux_gps

    #Remove SUID bit for iproute2 ip tool
    chmod 0755 /system/bin/ip

    chmod 0444 /sys/devices/platform/msm_hsusb/gadget/usb_state

    # To prevent out of order acknowledgements from making
    # connection tracking to treat them as not belonging to
    # the connection they belong to.
    # Otherwise, a weird issue happens in which some long
    # connections on high-throughput links get dropped when
    # an ack packet comes out of order
    write /proc/sys/net/netfilter/nf_conntrack_tcp_be_liberal 1


########################
## 10: BOOT COMPLETED ##
########################

on property:sys.boot_completed=1
    # Override Kernel Samepage Merging (KSM) values
    write /sys/kernel/mm/ksm/sleep_millisecs 4000
    write /sys/kernel/mm/ksm/pages_to_scan 256



#############################################################################
### S E R V I C E S                                                        ##
#############################################################################

service qmuxd /system/bin/qmuxd
    class core
    user radio
    group radio audio inet bluetooth gps qcom_diag

on property:service.brcm.bt.mac=*
    exec /system/bin/hwaddrs

service wpa_supplicant /system/bin/wpa_supplicant \
    -iwlan0 -Dnl80211,wext -c/data/misc/wifi/wpa_supplicant.conf \
    -e/data/misc/wifi/entropy.bin \
    -O/data/misc/wifi/sockets -g@android:wpa_wlan0
    class main
    socket wpa_wlan0 dgram 660 wifi wifi
    disabled
    oneshot

service dhcpcd_wlan0 /system/bin/dhcpcd -ABKL
    class main
    disabled
    oneshot

on property:init.svc.wpa_supplicant=stopped
   stop dhcpcd_wlan0

service iprenew_wlan0 /system/bin/dhcpcd -n
    class main
    disabled
    oneshot

service setapversion /system/bin/lgapversion
    class main
    user radio
    group radio
    disabled
    oneshot

on property:gsm.version.baseband=V07u-000-000-MAR-23-2009
   start setapversion

service fuse_sdcard0 /system/bin/sdcard -u 1023 -g 1023 -d /mnt/media_rw/sdcard0 /storage/sdcard0
    class late_start
    disabled

service bugreport /system/bin/dumpstate -d -v -o /storage/sdcard0/bugreports/bugreport
#   Triggered by the KEY_VOLUME_DOWN+KEY_MENU keycodes
    keycodes 114 139
    class late_start
    disabled
    oneshot
